/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/title.xml

/lib/datatypes/doc/chap*.html
/lib/datatypes/doc/chap*.txt
/lib/datatypes/doc/*.css
/lib/datatypes/doc/*.js
/lib/datatypes/doc/chooser.html
/lib/datatypes/doc/*.aux
/lib/datatypes/doc/*.bbl
/lib/datatypes/doc/*.blg
/lib/datatypes/doc/*.brf
/lib/datatypes/doc/*.idx
/lib/datatypes/doc/*.ilg
/lib/datatypes/doc/*.ind
/lib/datatypes/doc/*.lab
/lib/datatypes/doc/*.log
/lib/datatypes/doc/*.out
/lib/datatypes/doc/*.pnr
/lib/datatypes/doc/*.six
/lib/datatypes/doc/*.tex
/lib/datatypes/doc/*.toc
/lib/datatypes/doc/manual.pdf

/tmp/
/gh-pages/
